<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokr-Eksamen</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<header class="header">
  <a href="/" class="header__logo header__logo--glow">Jokr-Exam</a>
  <nav class="header__nav">
    <a href="/faq" class="header__btn">FAQ</a>
    <a href="/vits" class="header__btn">Vits</a>
    <a href="/top" class="header__btn">Top</a>
  </nav>
</header>